/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
    background-image: url(img/bg.jpg);
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 230px;
    margin-right: 230px;
    border: solid 2px #ffd24a;
    border-radius: 4px;
}

div {
    background-color: white;
    font: Helvetica;
}

h2 {
    color: #1fabe5
}

h3 {
    color: #1fabe5
}

header {
    background-color: #ff8523;
    padding: 2rem;
}

.main_navigation a {
    border-radius: 5px;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: white;
    padding: .5em;
    margin-top: 1px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    text-align: center;
    display: inline-block;
    width: 20%;
    height: 20%;
    border: 2px solid #eee;
}

section {
    border-bottom: solid lightgray;
    padding-right: 2em;
    padding-left: 2em;
}

table {
    width: 100%;
    padding-right: 2em;
    padding-left: 2em;
}

form {}

table td {
    border: 1px solid #1fabe5;
    border-collapse: collapse;
}

thead td {
    background-color: #1fabe5;
    padding: 2em
}

td img {
    margin: 3em;
    width: 5em;
}

tbody td {
    padding: 10px;
}