/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
    background-image: url(img/bg.jpg);
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 230px;
    margin-right: 230px;
    border: solid 2px #ffd24a;
    border-radius: 4px;
    line-height: 1.6;
}

div {
    background-color: white;
    font: Helvetica;
}

h2 {
    color: #1fabe5
}

h3 {
    color: #1fabe5
}

header {
    background-color: #ff8523;
    padding: 2rem;
}

.main_navigation a {
    border-radius: 5px;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: white;
    padding: 10px 30px 10px 30px;
    margin-top: 1px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    text-align: center;
    display: inline-block;
    width: 20%;
    height: 20%;
    border: .25px solid #eee;
}

section {
    border-bottom: solid lightgray;
    padding-right: 2em;
    padding-left: 2em;
}

a {
    color: #1fabe5;
}

table {
    table-layout: fixed;
    width: auto;
    height: 50%;
    padding-right: 2em;
    padding-left: 2em;
    border-collapse: collapse;
}

table td {
    border: 1px solid #1fabe5;
    border-collapse: collapse;
}

thead td {
    background-color: #1fabe5;
    padding: 2em
}

td img {
    margin: 2.5em;
    width: 5em;
    padding: 1px;
    border: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

tbody td {
    padding: 2px;
    width: 85%;
    height: 50%;
}

form {
    border: 1px #ebe8e7;
    border-radius: 5px;
    padding: 15px;
    background-color: #ebe8e7;
    line-height: 3;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.name {
    border: 1px #ff8523;
    border-radius: 5px;
    padding: 30px 15px 30px 15px;
    background-color: #ff8523;
    color: white;
}

textarea {
    border-radius: 1px;
    font-size: 1em;
    width: 95%;
}

.submit_container input {}

#submit_button {
    border: 1px #1fabe5;
    border-radius: 3px;
    padding: 15px 25px 15px 25px;
    background-color: #1fabe5;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}